* {
  border: 1px black solid;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.outer-box {
  display: grid;
  grid-template-rows: 35px 240px 1fr 100px;
}

header {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}